/* ROOT CONFIGURATIONS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
}

h3 {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #696969;
}


/* NAV BAR */


header {
    width: 100%;
    background-color: #1B273D;
}

nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0% 10% 0% 10%;
    padding: 2% 0% 2% 0%;
}

nav > ul {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul > li {
    list-style-type: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0px 20px 0px 20px;   
}

.teal-b {
    background-color: #007B80;
    border: 2px solid #007B80;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 30px 10px 30px;
    margin-right: 20px;
    cursor: pointer;
}

.transp-b {
    white-space: nowrap;
    border: 2px solid white;
    background-color: #1B273D;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
}


/* LANDING PAGE */


.landing {
    width: 100%;
    height: 100vh;
    background-color: #1B273D;
    color: white;
}

.landing > article {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0% 10% 0% 10%;
}

.landing-text {
    width: 60%;
    height: 100%;
    margin-top: 5%;
}

.landing-text > h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    padding: 2.5% 0% 2.5% 0%;
}

.landing-text > p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
}

.landing-text > button {
    margin-top: 5%;
}

.landing-image {
    margin-top: 5%;
    width: 40%;
    padding-bottom: 10%;
}

.landing-image > img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* SERVICES */


.services {
    background-color: white;
    
}

.services > article {
    width: 80%;
    margin: 0% 10% 0% 10%;
    border-radius: 5%;
}

.services > article > ul {
    width: 100%;
    padding: 40px;
    border-bottom: 1px solid gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    
}

.services > article > ul > li {
    list-style-type: none;
}

.service-center {
    text-align: center;
}

.card-container {
    margin-bottom: 100px;
}

.card-container > .card-active {
    background-color: #007B80;
    color: white;
}

.card-active > p {
    color: white;
}

.card-container {
    display: inline-flex;
}

.card {
    width: 25%;
    height: 250px;
    border-radius: 5%;
    padding: 30px;
    text-align: center;
    color: black;
    
}

.card > p {
    font-size: 14px;
}

.services-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services-stats > article,aside{
    width: 47.5%;
}

td {
    padding: 10px;
}

td > p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #696969;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

.td1 {
    border-right: 1px dashed #696969;
    border-bottom: 1px dashed #696969;
}

.td4 {
    border-top: 1px dashed #696969;
    border-left: 1px dashed #696969;
}


/* COURSES */


.courses {
    margin-top: 100px;
    background-color: #1B273D;
}

.courses > article {
    width: 80%;
    margin: 0% 10% 0% 10%;
    color: white;

}

.coursesTitle{
    text-align: center;
}

.coursesTitle p {
    color: white;
}

.card-container-courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course-card {
    padding: 10px;
    background-color: white;
    width: 32%;
    color: black;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.course-card > img {
    border-radius: 5%;
}

.courseTitle {
    height: 50px;
    margin: 10px 0px 10px 0px;
}

.course-card > p {
    font-size: 12px;
}

.course-card-action {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.course-card-action > ul > li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}


/* FEEDBACK */


.feedback {
    background-color: white;
}

.feedback > article {
    width: 80%;
    margin: 5% 10% 0% 10%;
}

.feedbackTitle {
    text-align: center;
}

.feedback-card-container {
    display: flex;
    flex-direction: row;
}

.feedback-card {
    border-radius: 2%;
    padding: 30px;
}

.feedback-card p {
    font-size: 15px;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.user-info img {
    margin-right: 10px;
    border-radius: 50%;
}

.user-info ul li {
    list-style-type: none;
}

.seeMore-btn {
    display: flex;
    justify-content: center;
}

/* FOOTER */


footer {
    background-color: #1B273D;
    color: white;
    list-style-type: none;
    
}

footer h4 {
    font-family: 'Roboto Slab', serif;
}

footer li{
    font-family: 'Poppins', sans-serif;
}

footer > article {
    width: 80%;
    margin: 5% 10% 0% 10%;
}

footer li {
    margin: 20px 0px 20px 0px;
}

.layer-1 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
}

.layer-2 {
    list-style-type: none;
}

.layer-3 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}

.layer3 li img {
    border-radius: 50%;
}

footer h4 {
    font-size: 24px;
}






